body {
    background-color: #202124;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .search-container {
    text-align: center;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  
  .search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-input {
    width: 482px; /* Width can remain the same or adjust as needed */
    height: 34px; /* Reduced height to make the field slimmer */
    padding: 10px 20px; /* Adjust padding to ensure text is centered */
    margin-bottom: 28px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.88);
    background-color: #121212;
    border: 1px solid #303134;
    border-radius: 24px;
    outline: none;
  }
  
  
  .search-buttons {
    display: flex;
    justify-content: center;
  }
  
  .search-button, .lucky-button {
    padding: 10px 20px;
    margin-right: 8px;
    font-size: 14px;
    color: #5F6368;
    background-color: #303134;
    border: none;
    border-radius: 4px;
    margin: 11px 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .search-button:hover, .lucky-button:hover {
    box-shadow: 0 1px 3px black;
    background-color: #5F6368;
    color: white;
  }

  .logo {
    width: 290px; /* Adjust width as necessary */
    height: auto; /* Keeps the aspect ratio */
    margin-bottom: 20px; /* Spacing below the logo */
  }
  
  
  /* Additional styles for icons or other elements as needed */
  